<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>d16-asm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>d16-tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A4CA7411D14C01400BC8619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83EA701D20660C0014DF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83EA7B1D2097E10014DF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83EA891D20989E0014DF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83EA9C1D2098E10014DF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83EAA71D2098F30014DF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A83EAB21D2099260014DF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
